@{
    Business.Platform.Dictionary BDictionary = new Business.Platform.Dictionary();
    Business.Platform.Users BUsers = new Business.Platform.Users();
    string query = string.Format("appid={0}&tabid={1}", Request.QueryString["appid"], Request.QueryString["tabid"]);
    string sql = string.Empty;
    string starttime = string.Empty;
    string endtime = string.Empty;

    if (Request.Form["starttime"]==null)
    {
    sql = "SELECT * FROM dbo.EffectTimer";
    }
    else
    {
        starttime = Request.Form["starttime"].ToString();
    endtime = Request.Form["endtime"].ToString();
    if (!string.IsNullOrEmpty(starttime))
    {
        sql = "SELECT * FROM dbo.EffectTimer where StartTime>='{0}' and EndTime<='{1}'";
        sql = string.Format(sql, starttime, endtime);
    }
        
        
        
    }
    
    
    
    
    

    List<Data.Model.Dictionary> lstdic = new List<Data.Model.Dictionary>();
    lstdic = BDictionary.GetAllChilds("a4c6a246-64c8-4441-8852-0357120921fb".ToGuid(), false);

    List<Data.Model.Users> lstusers = new List<Data.Model.Users>();
    lstusers = BUsers.GetAll();
    // lstusers = lstusers.FindAll(p=>p.Status==0);

    string id = Request.QueryString["instanceid"];
    string title = string.Empty;
    string contents = string.Empty;
  //  string sql = "SELECT * FROM dbo.EffectTimer";

    System.Data.DataSet ds = new System.Data.DataSet();
    ds = new Data.MSSQL.DBHelper().GetDataSet(sql);
    System.Data.DataTable dt = new Data.MSSQL.DBHelper().GetDataTable(sql);
    //System.Data.DataTable dt = ds.Tables[0];
    System.Data.DataView dv = dt.DefaultView;
    System.Data.DataView dvfind = dv;
    
    
    //if(!string.IsNullOrEmpty(Request.Form["Import"].ToString()))
    //{
    //    Utility.DataToExcel dte = new Utility.DataToExcel();
    //    System.Collections.Hashtable ht=new System.Collections.Hashtable (); //创建一个Hashtable实例
    //    ht.Add("Sheet1","Sheet1");//添加keyvalue键值对

    //    dte.DataSetToLocalExcel(ds, "d:\\", true, ht, "Time");
        
    //}
    
    
    
    //if (id.IsInt())
    //{
    //    string sql = "SELECT * FROM dbo.EffectTimer WHERE ID=" + id;
    //    System.Data.DataTable dt = new Data.MSSQL.DBHelper().GetDataTable(sql);
    //    if (dt.Rows.Count > 0)
    //    {
    //        title = dt.Rows[0]["Title"].ToString();
    //        contents = dt.Rows[0]["Contents"].ToString();
    //    }
    //}
}
<br /><br /><br />
<!--任务标题字段-->
<link type="text/css" href="../../manage/Style/InterFace.Css" rel="stylesheet" rev="stylesheet" media="all" />
<link type="text/css" href="../../manage/style.css" rel="stylesheet" rev="stylesheet" media="all" />
<script type="text/javascript" src="../../js/jquery.js"></script>
<script type="text/javascript" src="../../manage/include/common.js"></script>
<script type="text/javascript" src="../../Scripts/FlowRun/common.js"></script>
<script type="text/javascript">
    var win = new RoadUI.Window();
    var validate = new RoadUI.Validate();

    var iframeid = '@Request.QueryString["tabid"]';

    var appid = '@Request.QueryString["appid"]';


    var query = '@Html.Raw(query)';




    function method2(tableid) {
        
        var curTbl = document.getElementById(tableid);

        var oXL = new ActiveXObject("Excel.Application");
        var oWB = oXL.Workbooks.Add();
        var oSheet = oWB.ActiveSheet;
        var Lenr = curTbl.rows.length;
        for (i = 0; i < Lenr; i++) {

            var Lenc = curTbl.rows(i).cells.length;
            var tem = 0;
            for (j = 0; j < Lenc; j++) {

                var colspan = curTbl.rows(i).cells(j).getAttribute("colspan");
                if (colspan > 1) {
                    
                    tem = tem + 1;
                    
                    oSheet.Range(oSheet.cells(i + 1, j + tem), oSheet.cells(i + 1, j + tem+1)).select();
                   // oSheet.Range(oSheet.cells(i + 1, j+colspan-1), oSheet.cells(i + 1, j + colspan)).Select;
                    oXL.Selection.HorizontalAlignment = 3;
                    oXL.Selection
                    oXL.Selection.MergeCells = true;
                    oSheet.cells(i + 1, j + tem).value = curTbl.rows(i).cells(j).innerText;
                    //tem = colspan - 1;
                    continue;
                }
                else
                {
                    oSheet.Cells(i + 1, j + 1).value = curTbl.rows(i).cells(j).innerText;

                }
                

            }
        }

        oXL.Visible = true;

    }




</script>


<div class="toolbar" style="margin-top:0; border-top:none 0; position:fixed; top:0; left:0; right:0; margin-left:auto; z-index:999; width:100%; margin-right:auto; height:26px;">
    <div>

        <a href="#" onclick="fun_29b358e1ad644f09846c4554ae6b85c4();return false;" title="打印当前表单">
            <span style="background:url(/Images/ico/printer.gif) no-repeat left center;">打印</span>
        </a>
        <script type="text/javascript">
            function fun_29b358e1ad644f09846c4554ae6b85c4() { formPrint(); }
        </script>

    </div>
</div>
<form id="form1" action="" method="post">
    @Html.AntiForgeryToken()
    <table style=" width:100%;" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td>
                开始时间：<input type="text" name="starttime" id="starttime" value="@ViewBag.starttime" class="mycalendar">至
                结束时间：<input type="text" name="endtime" id="endtime" value="@ViewBag.endtime" class="mycalendar">


                <input type="submit" value="查询" name="Save">
                <input type="button" value="导出" name="Import" onclick="method2('tableid')">
            </td>
        </tr>
    </table>
</form>
<br>
    <div style="text-align:center; font-size:24px; font-weight:bold;">窗口业务时效采集</div>
<div style="width:100%; text-align:center; margin: 0 auto; ">
   （日期：@ViewBag.starttime------------@ViewBag.endtime）
    </div>
</div>
            <div id="form_body_div" class="tabs_wrapper">

                <table cellpadding="0" cellspacing="1" border="0" width="99%" class="table" align="center" id="tableid">


                    <tr>

                        <th style="width: 80px; text-align: center; border: 1px solid black;">
                            操作业务类型
                        </th>
                        @{
                            foreach (var user in lstusers.FindAll(p => p.Name == "顾莉莉" || p.Name == "邓竹君" || p.Name == "王珏" || p.Name == "郑炜巍" || p.Name == "曹燕莉" || p.Name == "张玉婷" || p.Name == "刘振巍" || p.Name == "丁美萍" || p.Name == "诸李斌" || p.Name == "唐宁" || p.Name == "黄伟" || p.Name == "陆国民" || p.Name == "黄丽敏"))
                            {
                                <th style="width: 80px; text-align: center; border: 1px solid black;" colspan="2">
                                    @user.Name
                                </th>


                            }
                            
                             <th style="width: 80px; text-align: center; border: 1px solid black;" colspan="2">
                                  &nbsp;
                                </th>
                           


                        }
                    </tr>
                    <tr>
                        @{
                            <th style="width: 80px; text-align: center; border: 1px solid black;">&nbsp;</th>
                            foreach (var user in lstusers.FindAll(p => p.Name == "顾莉莉" || p.Name == "邓竹君" || p.Name == "王珏" || p.Name == "郑炜巍" || p.Name == "曹燕莉" || p.Name == "张玉婷" || p.Name == "刘振巍" || p.Name == "丁美萍" || p.Name == "诸李斌" || p.Name == "唐宁" || p.Name == "黄伟" || p.Name == "陆国民" || p.Name == "黄丽敏"))
                            {

                                <th style="width: 80px; text-align: center; border: 1px solid black;">
                                    计时
                                </th>
                                <th style="width: 80px; text-align: center; border: 1px solid black;">
                                    次数
                                </th>


                            }

                            <th style="width: 80px; text-align: center; border: 1px solid black;">
                                    合计计时
                                </th>
                            <th style="width: 80px; text-align: center; border: 1px solid black;">
                                    合计次数
                                </th>
                        }

                    </tr>


                    @{
                        for (int j = 0; j < lstdic.Count; j++)
                        {
                            double rowtotal = 0;
                            double rowNum = 0;
                            <tr>
                                <td style="border: 1px solid black;">@BDictionary.Get(lstdic[j].ID, false).Title</td>
                                @{

                            foreach (var user in lstusers.FindAll(p => p.Name == "顾莉莉" || p.Name == "邓竹君" || p.Name == "王珏" || p.Name == "郑炜巍" || p.Name == "曹燕莉" || p.Name == "张玉婷" || p.Name == "刘振巍" || p.Name == "丁美萍" || p.Name == "诸李斌" || p.Name == "唐宁" || p.Name == "黄伟" || p.Name == "陆国民" || p.Name == "黄丽敏"))
                            {
                                TimeSpan ts = new TimeSpan();
                                double total = 0;
                                
                                
                                if (user.Name == "顾莉莉")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                if (user.Name == "邓竹君")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                if (user.Name == "王珏")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                if (user.Name == "郑炜巍")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }


                                if (user.Name == "曹燕莉")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;


                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }



                                if (user.Name == "张玉婷")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }


                                if (user.Name == "刘振巍")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }


                                if (user.Name == "丁美萍")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                if (user.Name == "诸李斌")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                    
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                    
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                if (user.Name == "唐宁")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                    
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    
                                    }

                                }

                                if (user.Name == "黄伟")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                    
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                    
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                if (user.Name == "陆国民")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                    
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                    
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                if (user.Name == "黄丽敏")
                                {
                                    dv.RowFilter = "UserID='" + "u_" + user.ID + "' and BunessType='" + lstdic[j].ID.ToString() + "'";
                                    for (int i = 0; i < dv.Count; i++)
                                    {


                                        ts = Convert.ToDateTime(dv[i]["EndTime"].ToString()) - Convert.ToDateTime(dv[i]["StartTime"].ToString());
                                        total = total + ts.TotalSeconds;
                                        

                                    }
                                    
                                    if (dv.Count == 0)
                                    {
                                        <td style="border: 1px solid black;">0</td>
                                        <td style="border: 1px solid black;">0</td>
                                    
                                        rowtotal = rowtotal + 0;
                                        rowNum = rowNum + 0;
                                    }
                                    else
                                    {
                                        <td style="border: 1px solid black;">@(Math.Ceiling((total / dv.Count) / 60))</td>
                                        <td style="border: 1px solid black;">@dv.Count</td>
                                    
                                        rowtotal = rowtotal + Math.Ceiling((total / dv.Count) / 60);
                                        rowNum = rowNum + dv.Count;
                                    }

                                }

                                


                                
                            }
                            
                            

}
                                <td style="border: 1px solid black;">@rowtotal</td>
                                <td style="border: 1px solid black;">@rowNum</td>
                            </tr>
                        }

                    }


                </table>
            </div>
